.normal-blue{
    background-color: #0076FF;
    color:#EEF4FC;
    border-color: #0076FF;
}

.normal-red{
    background-color:#D0021B ;
    color:#EEF4FC;
    border-color: #D0021B;
}

.normal-gray{
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    color: #0f0f0f;
}

.normal-yellow{
    background-color: #F5A623;
    color:#EEF4FC;
    border-color: #F5A623;
}

.white{
    background-color: white;
    color: #666;
}