.margin-8{
    margin: 8px;
}

.margin-16{
    margin: 16px;
}

.margin-top-16{
    margin-top: 16px;
}
.padding-hor-8{
    padding-left: 8px;
    padding-right: 8px;
    display: block;
}

.padding-8{
    padding: 8px;
}

